<h1>New Product</h1>

<h2> <font color = red >Luna </font> </h2>
<a href="https://www.google.de" > Go to Google </a>
<p> <font size="3" >this is our description</font> </p>
<%= render 'form' %>

<%= link_to 'Back', products_path %>
